h1{
    font-size: 24;
    color: blue;
    font-weight: bolder;
    font-style: italic;
}

h2{
    font-size: 20;
    color: #0000ff;
    font-weight: bolder;
}

h3{
    font-size: 16;
    color: teal;
    font-weight: bolder;
}

p{
    color: #4D4D4D;
}

.paragraaf{
    font-weight: bolder;
}

a{
    color: #8A2BE2;
    text-decoration: none;
}
.box{
    top: 0px;
    width: 100vw;
    height: 200px;
    background-image ;
}
